@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h1 {
  color: #1c3f94;
  font-size: 3em;
  padding-right: 100px;
}

h2 {
  color: #1c3f94;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.zoomable {
  transition: transform 1s, transform-origin 1s;
}

.answer {
  position: 'fixed';
  left: center;
  top: center;
  overflow: hidden;
}

.answer-input {
  width: 15rem;
  height: 2.5rem;
  font-size: 1.5em;
}

nav {
  z-index: 10;
  position: absolute;
  background: white;
  width: 100vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  width: 100%;
}